<!DOCTYPE html>
<html lang="en">
<head>
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<title>Techie Bootstrap Template - Index</title>
	<meta content="" name="description">
	<meta content="" name="keywords">
	<!-- Favicons -->
	<link href="frontend/img/favicon.png" rel="icon">
	<link href="frontend/img/apple-touch-icon.png" rel="apple-touch-icon">
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css" integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm" crossorigin="anonymous">
	<!-- Vendor CSS Files -->
	<link href="frontend/vendor/aos/aos.css" rel="stylesheet">
	<link href="frontend/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="frontend/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
	<link href="frontend/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
	<link href="frontend/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
	<link href="frontend/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
	<!-- Template Main CSS File -->
	<link href="frontend/css/cart.css" rel="stylesheet">
	<link href="frontend/css/style.css" rel="stylesheet">
	<link href="frontend/css/profile.css" rel="stylesheet">

	<style>
	/* .collapse {
		&:not(.show) {
			display: none;
		}
	}

	.collapsing {
		height: 0;
		overflow: hidden;
		@include transition($transition-collapse);
	} */
	</style>
	<!-- <style>
		.accordion {
		  background-color: #eee;
		  color: #444;
		  cursor: pointer;
		  padding: 18px;
		  width: 100%;
		  border: none;
		  text-align: left;
		  outline: none;
		  font-size: 15px;
		  transition: 0.4s;
		}

		.active, .accordion:hover {
		  background-color: #ccc;
		}

		.panel {
		  padding: 0 18px;
		  display: none;
		  background-color: white;
		  overflow: hidden;
		}
		</style> -->
 </head>
 <body onload="getProducts()">

	<!-- ======= Header ======= -->
	<header id="header" class="fixed-top ">
	   <div class="container d-flex align-items-center justify-content-between">
		  <h1 class="logo"><a href="/">Karti</a></h1>
		  <!-- Uncomment below if you prefer to use an image logo -->
		  <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
		  <nav id="navbar" class="navbar">
			 <ul>
				<li><a class="nav-link scrollto" href="/">Home</a></li>
				<li><a class="nav-link scrollto" href="/#about">About</a></li>
				<li><a class="nav-link scrollto" href="/#contact">Contact</a></li>
				<li><a class="nav-link scrollto active" href="">Cart</a></li>
				<li><a class="getstarted scrollto" onclick="deleteAllCookies()" href="/">Logout</a></li>
			 </ul>
			 <i class="bi bi-list mobile-nav-toggle"></i>
		  </nav>
		  <!-- .navbar -->
	   </div>
	</header>
	<!-- End Header -->
	<!-- ======= Cart ======= -->
	<!-- <section id="portfolio-details" class="portfolio-details"> -->
	  <section class="add-padding">
		<div class="container">
		  <div class="row">
			 <div class="col-3">
				<!-- sidebar -->
				<!-- <div class="col-lg-3"> -->
				<div>
				   <!-- Toggle button -->
				   <button
					  class="btn btn-outline-secondary mb-3 w-100 d-lg-none"
					  class="btn btn-primary"
					  type="button"
					  data-mdb-toggle="collapse"
					  data-mdb-target="#navbarSupportedContent"
					  aria-controls="navbarSupportedContent"
					  aria-expanded="false"
					  aria-label="Toggle navigation"
					  >
				   <span>Show filter</span>
				   </button>
				   <!-- Collapsible wrapper -->
				   <div class="collapse d-lg-block mb-5" id="navbarSupportedContent">
					  <div class="accordion" id="accordionPanelsStayOpenExample">
						 <div class="accordion-item">
							<h2 class="accordion-header" id="acc-1">
							   <button
								  class="accordion-button text-dark bg-light"
								  type="button"
								  data-mdb-toggle="collapse"
								  data-mdb-target="#panelsStayOpen-collapseTwo"
								  aria-expanded="true"
								  aria-controls="panelsStayOpen-collapseTwo"
								  >
							   Sites
							   </button>
							   <!-- <button class="accordion">Section 1</button> -->
							</h2>
							<div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo">
							   <div class="accordion-body">
								  <div>
									 <div class="form-check">
										<input class="form-check-input" name="checkbox" type="checkbox" value="emag" id="flexCheckChecked1" checked />
										<label class="form-check-label" for="flexCheckChecked1">Emag</label>
										<span class="badge badge-secondary float-end">120</span>
									 </div>
									 <div class="form-check">
										<input class="form-check-input" name="checkbox" type="checkbox" value="bb" id="flexCheckChecked2" checked />
										<label class="form-check-label" for="flexCheckChecked2">Amazon</label>
										<span class="badge badge-secondary float-end">15</span>
									 </div>
									 <div class="form-check">
										<input class="form-check-input" name="checkbox" type="checkbox" value="ccc" id="flexCheckChecked3" checked />
										<label class="form-check-label" for="flexCheckChecked3">Altex</label>
										<span class="badge badge-secondary float-end">35</span>
									 </div>
									 <div class="form-check">
										<input class="form-check-input" name="checkbox" type="checkbox" value="dd" id="flexCheckChecked4" checked />
										<label class="form-check-label" for="flexCheckChecked4">Cel</label>
										<span class="badge badge-secondary float-end">89</span>
									 </div>
									 <div class="form-check">
										<input class="form-check-input" name="checkbox" type="checkbox" value="pc-garage" id="flexCheckChecked4" checked />
										<label class="form-check-label" for="flexCheckChecked4">Pc Garage</label>
										<span class="badge badge-secondary float-end">89</span>
									 </div>
								  </div>
							   </div>
							</div>
						 </div>
						 <div class="accordion-item">
							<h2 class="accordion-header" id="acc-2">
							   <button
								  class="accordion-button text-dark bg-light"
								  type="button"
								  data-mdb-toggle="collapse"
								  data-mdb-target="#panelsStayOpen-collapseFive"
								  aria-expanded="false"
								  aria-controls="panelsStayOpen-collapseFive"
								  >
							   Order by price
							   </button>
							   <!-- <button class="accordion">Section 2</button> -->
							</h2>
							<div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse show" aria-labelledby="headingThree">
							  <div class="accordion-body">
								<div class="row">
								  <label>
								  <input type="radio" name="option" value="PriceCresc" checked>
								  Low to High
								  </label>
								</div>
								<div class="row">
								  <label>
								  <input type="radio" name="option" value="PriceDesc">
								  High to low
								  </label>
								</div>
							   </div>
							</div>
						 </div>
						 <button class="btn btn-primary" value="Submit" onclick=getProducts()>Apply</button>
					  </div>
				   </div>
				</div>
				<!-- sidebar -->
			 </div>
			 <div class="col-9">
				<div id="product-list">
				   <ul class="product-grid" id="product-list-tag-id">
				   </ul>
				</div>
			 </div>
		  </div>
		</div>
</section>

<script>
	function deleteAllCookies() {
 	var cookies = document.cookie.split(';');

  	for (var i = 0; i < cookies.length; i++) {
    	var cookie = cookies[i];
    	var eqPos = cookie.indexOf('=');
    	var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
    	document.cookie = name + '=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;';
  	}
}
</script>

<script>
  	var acc1 = document.getElementById("acc-1");
	acc1.addEventListener("click", function() {
		this.classList.toggle("active");
		var panel = document.getElementById("panelsStayOpen-collapseTwo");
		if (panel.style.display === "block") {
		panel.style.display = "none";
		} else {
		panel.style.display = "block";
		}
	});
	var acc2 = document.getElementById("acc-2");
	acc2.addEventListener("click", function() {
		this.classList.toggle("active");
		var panel = document.getElementById("panelsStayOpen-collapseFive");
		if (panel.style.display === "block") {
		panel.style.display = "none";
		} else {
		panel.style.display = "block";
		}
	});
</script>
<!-- </section> -->
<hr>
<div id="preloader"></div>
<!-- Vendor JS Files -->
<script src="frontend/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="frontend/vendor/aos/aos.js"></script>
<script src="frontend/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="frontend/vendor/glightbox/js/glightbox.min.js"></script>
<script src="frontend/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="frontend/vendor/swiper/swiper-bundle.min.js"></script>
<script src="frontend/vendor/php-email-form/validate.js"></script>
<script src="frontend/js/profile.js"></script>
<script src="frontend/js/main.js"></script>
<!-- Template Main JS File -->
</body>
</html>